<!DOCTYPE html>
<html lang="en">
  <head>
    <title>kJ to Calorie Converter</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aT2xYTznwAJYhdfonYW2YCSsOiuXkfwzWCYqyH6mSX8GqeGK/4wkSPyDwnTWygeld/"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #f5f5f5; /* Light gray background */
      }
      .container {
        max-width: 400px; /* Limit container width */
      }
    </style>
  </head>
  <body>
    <div class="container mt-3">
      <h1>kJ to Calorie Converter</h1>
      <div class="form-group">
        <label for="kjInput">Enter kJ:</label>
        <input
          type="number"
          class="form-control"
          id="kjInput"
          placeholder="Enter kJ"
        />
      </div>
      <button id="convertButton" class="btn btn-primary">Convert</button>
      <div id="result" class="mt-3"></div>
    </div>
    <script src="scriptConverter.js"></script>
  </body>
</html>
